.env
venv/
temp_rss_output/
temp_failed_rss_output/
aws/
garbage_bin/
cache/
k8s/

.yaml

SSL_redis-redis-epic-wing.pem
redis-queue-setup.md

cache/
deploy-test.sh
performance-gains-log
deploy-gpu-monitoring.sh
superset/